* {
    box-sizing: border-box;
    color: whitesmoke;
    text-align: center;
}

body {
    background-image: linear-gradient(black, rgb(38, 38, 36));
}

a {
    text-decoration: none;
}

a:hover {
    filter: blur(1.5px);
}

header {
    text-align: center;
    font-size: 1.5em;
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    
}

#link {
    margin-left: 10px;
}


@media screen and (max-width: 425px) {
    #name {
        font-size: 1.5em;
        padding-bottom: ;
    }
}

@media screen and (max-width: 425px) {
    #link {
        display: block;
        font-size: 1.2em;
        padding: 20px;
    }
}